<!-- TODO: Keeping books -->

<!-- TODO: Donating books -->

<!-- TODO: Selling books -->


<button type="button" name="button" ng-click='book.showBooks()'>Show</button>

<dl class="all books" ng-repeat='show in book.allBooks'>
  <dt>{{show.id}}</dt>
  <!-- <dd>Title:{{show.title}}</dd> -->
</dl>
<button type="button" name="button" ng-click='book.saveBooks()'>Save</button>


<button type="button" name="button" ng-click='book.updatedBooks()'>Update</button>

<button type="button" name="button" ng-click='book.deleteBooks()'>Delete</button>
