<!-- TODO: Keeping books -->
<div class="container">
    <div class="row">
        <div>
          <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
       	</div>
    </div>
</div>
<!-- TODO: Donating books -->
<div class="container">
    <div class="row">
        <div>
          <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
       	</div>
    </div>
</div>
<!-- TODO: Selling books -->
<div class="container">
    <div class="row">
        <div>
          <a href=""><img src="http://placehold.it/150x190/e8117f/fff&amp;text=Book%20Title" class="img-responsive book"></a>
       	</div>
    </div>
</div>
