<!-- This is home page view -->
<span class="title">Beauty, Beast, and Books</span>
<span class="tittle">Your Book Tracker</span>
<span class="author">Audrey Redman</span>
<span class="dedicaton">To my 4th grade teacher who sparked my love for books</span>
<div class="contents">
  <h3>Contents</h3>
  <ul ng-controller='AuthController as auth'>
      <li ui-sref='about'>About The App</li>
      <li ui-sref='library'>Library</li>
      <li ui-sref='books'>Booksheleves</li>
      <li onclick="document.getElementById('id01').style.display='block'">Sign Up</li>
      <li onclick="document.getElementById('id02').style.display='block'">Login</li>
      <li ng-click='auth.logout()'>Logout</li>
      <li><a href="https://github.com/somebodie">About The Developer</a></li>
  </ul>
</div>
