<!-- This is home page view -->
<div class="">
<span class="title" ui-sref='index'>Beauty, Beast, and Books</span>
</div>

<div class="">
<span class="tittle" ui-sref='index'>Your Book Tracker</span>
</div>

<div class="">
<span class="author">Audrey Redman</span>
</div>

<div class="">
<span class="dedicaton">To my 4th grade teacher who sparked my love for books</span>
</div>

<div class="contents">
  <h3>Contents</h3>
  <ul>
      <li ui-sref='about'>About The App</li>
      <li ui-sref='library'>Library</li>
      <li ui-sref='books'>Booksheleves</li>
      <!-- <li onclick="document.getElementById('id01').style.display='block'">Sign Up</li>
      <li onclick="document.getElementById('id02').style.display='block'">Login</li>
      <li ng-click='auth.logout()'>Logout</li> -->
      <li><a href="https://github.com/somebodie">About The Developer</a></li>
  </ul>
</div>
