<!-- Reach Goal: Search
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search">
</label>
http://ionicframework.com/html5-input-types/#overview
 -->
<!-- TODO: Add form to back end -->
<form class="add" ng-submit='book.newBook()' method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" ng-model='book.title' placeholder="Cat in The Hat">
    <label for="author">Author:</label>
    <input type="text" name="author" ng-model='book.author' placeholder="Dr.Seuss">
    <label for="genre">Genre:</label>
    <input type="text" name="genre" ng-model='book.genre' placeholder="Children">
    <label for="read"> Have you read {{book.title}} yet?
    <input class="read" type="radio" value="Yes" ng-model="book.read"> Yes
    <input class="read" type="radio" value="Middle" ng-model="book.read"> In the Middle of That
    <input class="read" type="radio" value="No" ng-model="book.read"> No
    </label>
    </label>
    <label for="keep">Would you like to give this away?
    <input class="keep" type="checkbox" ng-model="book.checked" aria-label="Toggle ngHide">
    <!-- https://docs.angularjs.org/api/ng/directive/ngHide -->
    </label>
    <label class="check-element funky-show-hide" ng-show="book.checked">
        <input class="donate" type="radio" ng-model='book.give' value="Donate"> Donate
        <input class="sell" type="radio" ng-model='book.give' value="Sell"> Sell
    </label>
    <input type="submit" name="submit" value="Add That Book">
</form>

<ui-view></ui-view>
<!-- TODO: show page partial state books-->
