<!-- Reach Goal: Search
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search">
</label>
http://ionicframework.com/html5-input-types/#overview
 -->
<!-- TODO: Add form to back end -->
<form class="add" ng-submit='book.newBook()'>
    <label for="title">Title:</label>
    <input type="text" name="title" ng-model='book.title' placeholder="Cat in The Hat" required>
    <label for="author">Author:</label>
    <input type="text" name="author" ng-model='book.author' placeholder="Dr.Seuss" required>
    <label for="genre">Genre:</label>
    <input type="text" name="genre" ng-model='book.genre' placeholder="Children" required>
    Have you read it yet?
    <label for="yes">Yes:</label>
    <input id="yes" type="radio" value="Yes" ng-model="book.read" name="status" required>
    <label for="mb">In the Middle of That:</label>
    <input id="mb" type="radio" value="Currently" ng-model="book.read" name="status" required>
    <label for="no">No:</label>
    <input id="no" type="radio" value="No" ng-model="book.read" name="status" required>
    </label>
    </label>
    <label for="keep">Would you like to give this away?
    <input class="keep" type="checkbox" ng-model="book.checked" aria-label="Toggle ngHide">
    <!-- https://docs.angularjs.org/api/ng/directive/ngHide -->
    </label>
    <label class="check-element funky-show-hide" ng-show="book.checked">
      <label for="donate">Donate:</label>
        <input id="donate" type="radio" ng-model='book.give' value="Donate">
      <label for="sell">Sell:</label>
        <input id="sell" type="radio" ng-model='book.give' value="Sell">
    </label>
    <input type="submit" name="submit" value="Add That Book">
</form>

<h1>Book Cart</h1>

<dl ng-repeat='item in book.lit' style="list-style-type:square" ui-sref='books'>
  <dt>Title: {{item.title}}</dt>
  <dd>Author: {{item.author}}</dd>
  <dd>Genre: {{item.genre}}</dd>
  <dd>Read: {{item.read}}</dd>
  <dd>Plans: {{item.away}}</dd>
  <button type="button" name="button" ng-click='book.saveBook()'>Save</button>
  <button type="button" name="button" ng-click='book.deleteBooks()'>Delete</button>
  <button type="button" name="button" ng-click='book.updateBooks()'>Update</button>
</dl>

<ui-view></ui-view>
